<div *ngIf="movie">
  <div class="movie-backdrop" [ngStyle]="{ 'background-image': 'url(' + movie.backdrop + ')' }"></div>
  <div class="container">
    <div class="movie-data row">
      <div class="col-md-4">

          <div class="movie-poster">
            <img class="img-fluid" src="{{ movie.poster }}" alt="{{ movie.title }}"/>
            <!-- <a href="javascript:void(0)" class="movie-play-trailer"
               (click)="openModal(preview, getEmbedUrl(movie.trailer))"></a> -->
          </div>



        <!--                    <button type="button" class="btn-dark btn likeBtn" [class.selected]="selected"-->
        <!--                    (click)="likeMovie()">{{movie.id}} like</button>-->

      </div>
      <div class="col-md-8">
        <h2 class="movie-title">{{ movie.title }}</h2>
        
        <div class="movie-info">
          <p class="movie-overview">{{ movie.overview }}</p>
          <div class="movie-meta">
            <dl class="movie meta-director">
              <dt>导演:</dt>
              <dd>{{ movie.director }}</dd>
            </dl>
            <dl class="movie-meta-cast">
              <dt>演员:</dt>
              <dd>{{ movie.cast | join: ", " }}</dd>
            </dl>
            <dl class="movie-meta-runtime">
              <dt>时长:</dt>
              <dd>{{ movie.runtime | minute }}</dd>
            </dl>
            <dl>
              <div class="movieImgMsg">
                <a class="wish" [class.active]="isLiked"
                   (click)="likeMovie()"
                   data-wish="false" data-score="" data-bid="b_gbxqtw6x">
                  <div>
                    <i class="icon wish-icon"></i>
                    <!-- <span class="wish-msg" data-act="wish-click"> {{likeAmount}} {{likeMsg}}</span> -->
                    <span class="wish-msg" data-act="wish-click"> {{likeAmount}} {{likeMsg}}</span>
                  </div>
                </a>
              </div>
            </dl>
          </div>

          <app-showtimes
            [movie]="movie"
            [showAllTimes]="showAllTimes"
            [filterDate]="'all'"
          ></app-showtimes>

          <a
            href="javascript:void(0)"
            class="movie-more-showtime"
            (click)="showAllShowtimes()"
            *ngIf="!showAllTimes"
          >选择场次</a>

          <a
            href="javascript:void(0)"
            class="movie-today-showtime"
            (click)="hideAllShowtimes()"
            *ngIf="showAllTimes"
          >选择场次</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #preview>
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="getPreviewUrl()" allowscriptaccess="always"></iframe>
    </div>
  </div>
</ng-template>
