<div class="container" id="app">
    <div class="content">
        <div class="main">
            <div class="info-content clearfix">
                <div class="user-profile-nav">
                    <h1>个人中心</h1>
                    <a href="user/orders" class="orders active">我的订单</a>
                    <a href="user/cards" class="profile ">我的卡包</a>
                    <a href="user/profile" class="profile ">基本信息</a>
                </div>

                <div class="orders-container">
                    <div class="profile-title">我的订单</div>

                    <div class="order-box" 
                        *ngFor="let order of orderMsgs"
                        data-orderid="22036132312">
                        <div class="order-header">
                            <span class="order-date">2020-12-08</span>
                            <span class="order-id">订单号:22036132312{{order.orderId}}</span>
                            <span class="del-order" (click)="confirmRefund(order.orderId)" data-orderid="22036132312"></span>
                        </div>

                        <div class="order-body">
                            <div class="poster">
                                <img class='postImg' [src]="order.posterUrl">
                            </div>

                            <div class="order-content">
                                <div class="movie-name">{{order.movieName}}</div>
                                <div class="cinema-name">南大影院</div>
                                <div class="hall-ticket">
                                    <span>{{order.hall}}</span>
                                    <span *ngFor="let ticket of order.tickets"
                                        >{{ticket.row+1}}排{{ticket.col+1}}座</span>
                                </div>
                                <div class="show-time">{{order.time.slice(0, 10) + " " + order.time.slice(11,16)}}</div>
                            </div>

                            <div class="order-price">￥{{order.price}}</div>

                            <div class="order-status">
                                {{getOrderStatus(order.state)}}
                            </div>

                            <div class="actions" *ngIf="order.state===0">
                                <div>
                                    <a class="pay-btn" data-act="orders-pay-click"
                                        data-bid="b_d2ll8ybm"
                                        (click)="payTicket(order.orderId, order.ticketsId)">付款</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="orders-pager">

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="mask3">
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">您确定要删除该订单嘛？删除后，不可恢复～</p>

                <div class="short btn ok-btn">确定</div>
                <div class="short btn cancel-btn">取消</div>
            </div>
        </div>

    </div>

    <div class="mask1">
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">请注意，注销账号会清空所有订单信息、影评、积分、<br>账户余额等信息且无法找回，是否继续？</p>

                <div class="short btn ok-btn">确定</div>
                <div class="short btn cancel-btn">取消</div>
            </div>
        </div>

    </div>

    <div class="mask2">
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">请联系客服10105335</p>

                <div class="ok-btn btn">我知道了</div>
            </div>
        </div>

    </div>

</div>
<nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="退款确认"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
      <p *nzModalContent>您确定退款吗？</p>
</nz-modal>