<div class="container ticket-buy-container">
<!--  <hello name="{{ name }}"></hello>-->
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger" [disabled]="disable1" (click)="next()">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">选座</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger" [disabled]="disable2" (click)="next()">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">确认</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger" [disabled]="disable2" (click)="next()">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">完成</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form (submit)="onSubmit()">
        <div id="test-l-1" class="content">
          <app-ticket-chart [next]="next.bind(this)" [father]="this"></app-ticket-chart>
        </div>
        <div id="test-l-2" class="content">
          <app-confirm-seat [next]="next.bind(this)" [father]="this"></app-confirm-seat>

        </div>
        <div id="test-l-3" class="content">
          <app-pay-result  [father]="this"></app-pay-result>

        </div>
      </form>
    </div>
  </div>
</div>
