<div class="container" id="app">
    <div class="count-down-wrapper" *ngIf="!timeout">
        <div class="count-down" data-payleftseconds="838">
            <p class="time-left">
                请在
                <span class="minute">{{minute}}</span>
                分钟
                <span class="second">{{second}}</span>秒内完成支付
            </p>

            <p class="tip">超时订单会自动取消，如遇支付问题，请致电客服：1010-5335</p>
        </div>
    </div>

    <div *ngIf="timeout" class="status-box failed">
        <p class="title">支付超时</p>

        <p class="desc">支付超时，该订单已失效，请重新购买</p>
    </div>

    <p class="warning">请仔细核对场次信息，出票后将<span class="attention">无法退票和改签</span></p>

    <table class="order-table">
        <thead>
            <tr>
                <th>影片</th>
                <th>时间</th>
                <th>影院</th>
                <th>座位</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of seats">
                <td class="movie-name">{{movieName}}</td>
                <td class="showtime">{{date}}</td>
                <td class="cinema-name"> 中广国际影城 </td>
                <td>
                    <span class="hall">{{hallName}}</span>
                    <div class="seats">
                        <div>
                            <span class=""><i>{{item[0]+1}}</i>排<i>{{item[1]+1}}</i>座</span>
                        </div>
                        <div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="right">
        <div class="price-wrapper" style="display: flex;">
            <app-coupon-select
                [father]="this">
            </app-coupon-select>
            <div style="margin-right: 0px; margin-left: auto;">
                <span>实际支付 :</span>
                <span class="price">{{price}}</span>
            </div>
        </div>
        <div>
            <div class="pay-btn" (click)="confirmPay()" data-order-id="22035899219" data-act="pay-click"
                data-bid="b_u30afks6">{{confirmBtnMsg}}</div>
        </div>
    </div>

</div>