<div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn"
            aria-controls="dropdown-animated">
        <img id = "usr-avator" src="{{imgUrl}}"> <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something</a></li>
    </ul>
</div>
