.btn-group {
    margin-right: -50px;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0
}

#usr-avator {
    height: 30px;
    width: auto;
}

ul.dropdown-menu {
    /* background-color: #333333; */
    background-color: #fff;

}

li {
    /* background-color: #333333; */
    background-color: #fff;

}

a.dropdown-item {
    /* color: white; */
    /* background-color: #333333; */
    color: #000;
    background-color: #fff;
}

.dropdown-divider {
    height: 0;
    margin: .15rem 0;
    overflow: hidden;
    border-top: 1px solid #a9acaf;
}

@media all {
  #dropdown-animated{ display: none; }
  .btn-group:hover #dropdown-animated{ display: block; }
}
