<button nz-button nzType="primary" nzDanger class="charge-button" (click)="openModal(template)" >立即充值</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input nz-input placeholder="Basic usage" [(ngModel)]="bankCardId" />
    <br />
    <br />
    <input nz-input placeholder="Basic usage" [(ngModel)]="bankCardPassWord" />
    <br />
    <br />
    <input nz-input placeholder="Basic usage" [(ngModel)]="fare" />
    <br />
    <br />
    <button nz-button nzType="primary" (click)="charge()" [nzLoading]="isCharging">
      <i nz-icon nzType="money-collect" nzTheme="outline"></i>Click me!</button>
  </div>
</ng-template>