.movies-slider-container .carousel-item {
    max-height: 500px;
    overflow: hidden;
}
  
.movies-slider-container .carousel-item a {
    color: #fff;
}

.item {
    height: 500px;
    width: 100%;
}

.movies-slider-container img {
    display: block;
    width: 100%;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.charge-button{
    width: 100%;
}
  
.ButtonS{
    width: 100%;
    display: flex;
}


.cancelBtn{
    margin-left: auto;
}

.confirmBtn {
    margin-right: 0px;
    margin-left: 20px;
}