<button nz-button nzType="primary" nzDanger class="charge-button" (click)="openModal(template)" >立即充值</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">会员卡充值信息填写</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <input nz-input placeholder="银行卡号" [(ngModel)]="bankCardId" />
    <br />
    <br /> -->
    <input nz-input placeholder="银行卡密码" [(ngModel)]="bankCardPassWord" type='password'/>
    <br />
    <br />
    <input nz-input placeholder="充值金额" [(ngModel)]="fare" />
    <br />
    <br />
    <div class="ButtonS">
        <button 
        nz-button 
        nzType="default" 
        class="cancelBtn"
        (click)="cancel()">
        取消
    </button>
    <button 
        nz-button 
        nzType="primary" 
        (click)="charge()" 
        class="confirmBtn"
        [nzLoading]="isCharging" 
        nzDanger>
        充值
    </button>
    </div>

  </div>
</ng-template>