<div class="container py-5">
    <!-- <ul class="movielist-filters">
        <li *ngFor="let filter of filters" [class.selected]="filter.date === selectedDate">
            <a href="javascript:void(0)" (click)="changeFilter(filter.date)">{{filter.day}}</a>
        </li>
    </ul> -->
    <ul class="movielist-filters">
        <li *ngFor="let filter of categories" [class.selected]="filter === selectedCate">
            <a href="javascript:void(0)" (click)="changeCate(filter)">{{filter}}</a>
        </li>
    </ul>
    <ul class="movielist-filters">
        <li *ngFor="let filter of places" [class.selected]="filter === selectedPlace">
            <a href="javascript:void(0)" (click)="changePlace(filter)">{{filter}}</a>
        </li>
    </ul>
    <ul class="movielist-filters">
        <li *ngFor="let filter of sorts" [class.selected]="filter[0] === selectedSort[0]">
            <a href="javascript:void(0)" (click)="changeSorts(filter)">{{filter[0]}}</a>
        </li>
    </ul>
    <app-movie-list [filterDate]="selectedDate" [filterCate]="selectedCate"></app-movie-list>
</div>
